* {
    box-sizing: border-box
}

.container {
    padding: 20px;
}

input[type=text] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 30px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

#grade {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 30px;
    display: inline-block;
    border: none;
    background: #f1f1f1;

}

#classroom {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

#save {
    position: initial;
    background-color: #04aa15;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

#save:hover {
    opacity: 1;
}
